html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}
.el-breadcrumb {
  padding-bottom: 15px;
  font-size: 12px;
}
.el-card {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15) !important;
}
.el-table,
.el-form {
  margin-top: 20px;
  font-size: 12px;
}
.el-table__expanded-cell[class*='cell'] {
  padding: 20px 50px;
}
.el-cascader-panel {
  height: 300px;
}
.el-scrollbar__wrap {
  overflow-x: hidden;
}
