@font-face {
  font-family: "iconfont"; /* Project id 3891399 */
  src: url('iconfont.woff2?t=1676167129530') format('woff2'),
       url('iconfont.woff?t=1676167129530') format('woff'),
       url('iconfont.ttf?t=1676167129530') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Personal_list_line:before {
  content: "\e787";
}

.icon-Personal_security_line:before {
  content: "\e788";
}

.icon-Personal_switch_line:before {
  content: "\e789";
}

.icon-pic_line:before {
  content: "\e78a";
}

.icon-movie_line:before {
  content: "\e78b";
}

.icon-music_line:before {
  content: "\e78c";
}

.icon-pin_line:before {
  content: "\e78e";
}

.icon-pk_line:before {
  content: "\e78f";
}

.icon-play_circle_line:before {
  content: "\e790";
}

.icon-robot_line:before {
  content: "\e79e";
}

.icon-sandclock_line:before {
  content: "\e7a3";
}

.icon-send_line:before {
  content: "\e7aa";
}

.icon-send_plane_line:before {
  content: "\e7ab";
}

.icon-setting_line:before {
  content: "\e7ac";
}

.icon-settings_line:before {
  content: "\e7ad";
}

.icon-shopping_bag_arc_line:before {
  content: "\e7af";
}

.icon-shopping_bag_line:before {
  content: "\e7b0";
}

.icon-shopping_bags_line:before {
  content: "\e7b1";
}

.icon-square_arrow_down_line:before {
  content: "\e7b3";
}

.icon-square_arrow_left_line:before {
  content: "\e7b4";
}

.icon-square_arrow_right_line:before {
  content: "\e7b5";
}

.icon-square_arrow_up_line:before {
  content: "\e7b6";
}

.icon-star_arc_line:before {
  content: "\e7b7";
}

.icon-star_line:before {
  content: "\e7b8";
}

.icon-storage_line:before {
  content: "\e7b9";
}

.icon-subscription_line:before {
  content: "\e7ba";
}

.icon-sun_line:before {
  content: "\e7bb";
}

.icon-team_line:before {
  content: "\e7c3";
}

.icon-upload_clound_line:before {
  content: "\e7cb";
}

.icon-user_circle_line:before {
  content: "\e7cc";
}

.icon-user_line:before {
  content: "\e7cd";
}

.icon-wechat_line:before {
  content: "\e7d5";
}

.icon-translate_line:before {
  content: "\e7de";
}

.icon-troop_line:before {
  content: "\e7e0";
}

.icon-volume_line:before {
  content: "\e7e1";
}

.icon-volume_mute_line:before {
  content: "\e7e2";
}

.icon-world_line:before {
  content: "\e7e4";
}

.icon-eye_close_line:before {
  content: "\e7e9";
}

.icon-search_arc_line:before {
  content: "\e7eb";
}

.icon-add_circle_line:before {
  content: "\e715";
}

.icon-android_line:before {
  content: "\e716";
}

.icon-alert_line:before {
  content: "\e717";
}

.icon-arow_to_up_line:before {
  content: "\e718";
}

.icon-alarm_2_line:before {
  content: "\e719";
}

.icon-arrow_down_circle_line:before {
  content: "\e71a";
}

.icon-arrow_down_line:before {
  content: "\e71b";
}

.icon-alipay_pay_line:before {
  content: "\e71c";
}

.icon-alipay_line:before {
  content: "\e71d";
}

.icon-attachment_line:before {
  content: "\e71e";
}

.icon-authority_line:before {
  content: "\e71f";
}

.icon-basket_line:before {
  content: "\e720";
}

.icon-bill_line:before {
  content: "\e721";
}

.icon-bill_1_line:before {
  content: "\e722";
}

.icon-bluetooth_line:before {
  content: "\e723";
}

.icon-bluetooth_off_line:before {
  content: "\e724";
}

.icon-book_line:before {
  content: "\e725";
}

.icon-bulb_line:before {
  content: "\e726";
}

.icon-certificate_line_1:before {
  content: "\e727";
}

.icon-chart_bar_line:before {
  content: "\e728";
}

.icon-chat_line:before {
  content: "\e729";
}

.icon-check_line:before {
  content: "\e72a";
}

.icon-circle_arrow_left_line:before {
  content: "\e72b";
}

.icon-circle_arrow_down_line:before {
  content: "\e72c";
}

.icon-circle_club_line:before {
  content: "\e72d";
}

.icon-circle_arrow_right_line:before {
  content: "\e72e";
}

.icon-check_circle_line:before {
  content: "\e72f";
}

.icon-circle_arrow_up_line:before {
  content: "\e730";
}

.icon-close_line:before {
  content: "\e731";
}

.icon-lock_line:before {
  content: "\e764";
}

.icon-move_line:before {
  content: "\e776";
}

.icon-navigation_line:before {
  content: "\e778";
}

.icon-overview_line:before {
  content: "\e77c";
}

.icon-paint_brush_line:before {
  content: "\e77d";
}

.icon-palette_line:before {
  content: "\e77e";
}

.icon-pause_circle_line:before {
  content: "\e77f";
}

.icon-pause_line:before {
  content: "\e780";
}

.icon-payfor_line:before {
  content: "\e781";
}

.icon-paymen_scan_line:before {
  content: "\e782";
}

.icon-Personal_add_line:before {
  content: "\e783";
}

.icon-Personal_agent_line:before {
  content: "\e784";
}

.icon-Personal_approve_line:before {
  content: "\e785";
}

.icon-personal_line:before {
  content: "\e786";
}

